{% extends "base.html" %}

{% block body %}
{% load static %}
<div class="callout primary">
  <div id="test-slick">
    <div id="call-out0">
      <div class="shade-layer">
        <div class="row column text-center">
          <h1>It's <strong>Mazi Ugochukwu</strong></h1>
          <p class="">A <strong>Software Systems Engineer</strong> proficient
            in both <em><strong>Python</strong></em> and <em><strong>C#</strong></em> programming languages
          </p>
          <a href="/contact" class="button alert medium">Get in touch</a>
          <a href="#projects" data-smooth-scroll class="button warning gutter-medium hollow">My projects</a>
        </div>
      </div>
    </div>

    <div id="call-out1">
      <div class="shade-layer">
        <div class="row column text-center">
          <h1>NEED A TEAM PLAYER?</h1>
          <p class="">Relationship building and communication matters in
            a great team. Looking to <strong>colaborate</strong> with you in your project.</p>
          <a href="/contact" class="button alert gutter-medium">Get in touch</a>
          <a href="#projects" data-smooth-scroll class="button warning gutter-medium hollow">My projects</a>
        </div>
      </div>
    </div>

    <div id="call-out2">
      <div class="shade-layer">
        <div class="row column text-center">
          <h1>NEED A MENTOR?</h1>
          <p class="">Looking to <strong>colaborate</strong> with you in your
            project today</p>
          <a href="/contact" class="button alert gutter-medium">Get in touch</a>
          <a href="#projects" data-smooth-scroll class="button warning gutter-medium hollow">My projects</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="projects" class="row">
  <h2 class="text-center">Some of My Works</h2>
  <div class="medium-12 columns">
    <!-- <p>In today's fast paced world of technological advancement, there exist various exciting options to carry out
      software projects. You can <a href="/contact">contact</a> me if you need to expand your team of developers working on
      a <strong>python</strong>, <strong>javascript</strong> or <strong>c#</strong> project or to pull out your
      project from concept to production.
    </p> -->
    <p class="text-center">
      I'm super excited to show off some of my works in web development built using popular
      and exciting web technologies around the world. You could visit my <a href="https://github.com/kmazi">github
        repo</a> to view
      some of my open source projects.
    </p>
  </div>
  <div class="column medium-4">
    <div class="card">
      <img class="card-image" src="{% static 'portfolio/images/infoconnect.png' %}" alt="infoconnect website">
      <div class="card-section">
        <h4>InfoConnect App</h4>
        <p>A news feed application built with Nodejs backend and Reactjs frontend which fetches
          updated news from newsapi.org
        </p>
        <a class="button hollow alert" href="http://infoconnect.herokuapp.com">view app</a>
      </div>
    </div>
  </div>
  <div class="column medium-4">
    <div class="card">
      <img class="card-image" src="{% static 'portfolio/images/docmanger.png' %}" alt="">
      <div class="card-section">
        <h4>Document Manager</h4>
        <p>A utility application that securely manages document creation and sharing
          online, built with Nodejs backed and Reactjs frontend.</p>
        <a class="button hollow alert" href="http://docmanger.herokuapp.com">view app</a>
      </div>
    </div>
  </div>
  <div class="column medium-4">
    <div class="card">
      <img class="card-image" src="" alt="">
      <div class="card-section">
        <h4>Schedule Manager</h4>
        <p>A utility application that manages task scheduling and time allocation
          in a school built with the Python Django web framework.
        </p>
        <a class="button hollow alert" href="http://github.com/kmazi/Timetable">view repo</a>
      </div>
    </div>
  </div>
</div>

<section id="stack-row" class="row">
  <!-- <h2 class="text-center">Programming Language Proficiency</h2>
  <div class="medium-4 columns">
    <img class="programming-image" src="{% static 'portfolio/images/python-logo.png' %}" alt="python developer">
    <p class="">
      Python is a vast programming language that lets you work quickly and integrate systems more effectively . I'm looking forward 
      to executing your project from scratch or collaborating with you on your data analysis project ( <strong>Pandas and Numpy</strong> ), web project 
      ( <strong>Flask and Django web framework</strong> ) 
    </p>
  </div>

  <div class="medium-4 columns">
      <img class="programming-image" src="{% static 'portfolio/images/csharp-logo.png' %}" alt="C# developer">
    <p>
      C# is a multi-paradigm programming language that is vasatile and super fast. I can collaborate with you 
      on your project in the various .Net framework platform: <strong>WPF</strong>, <strong>ASP.NET webform and MVC</strong> 
      <strong>ASP.NET core MVC</strong>.
    </p>
  </div>

  <div class="medium-4 columns">
    <img class="programming-image" src="{% static 'portfolio/images/javascript-logo.png' %}" alt="Jvascript developer">
    <p class="">
      Javascript is the programming language for the web; it can be used for both frontend and backend web development.
      Get in touch with me to collaborate with your on your <strong>Nodejs</strong>, <strong>Reactjs</strong>, <strong>Angularjs</strong> applications.
    </p>
  </div> -->
</section>

{% endblock %}