@import "settings/settings";
$header-bkg-color: rgb(9.9%, 21.4%, 42.9%);
$topbar-background: $header-bkg-color;
$menu-item-background-hover: #dde5f5;
$callout-border: none;
$callout-padding: 0;
$callout-font-color: whitesmoke;