@import "customsettings";
@import "../../../../node_modules/foundation-sites/scss/foundation";

@include foundation-everything(false);

@include foundation-everything(false);
// @include motion-ui-transitions;
// @include motion-ui-animations;
@font-face {
  font-family: 'veteran_typewriterregular';
  src: url('/static/portfolio/fonts/veteran_typewriter-webfont.woff2') format('woff2'),
       url('/static/portfolio/fonts/veteran_typewriter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'news_cycleregular';
  src: url('/static/portfolio/fonts/newscycle-regular-webfont.woff2') format('woff2'),
       url('/static/portfolio/fonts/newscycle-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'news_cyclebold';
  src: url('/static/portfolio/fonts/newscycle-bold-webfont.woff2') format('woff2'),
       url('/static/portfolio/fonts/newscycle-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'concert_oneregular';
  src: url('/static/portfolio/fonts/concertone-regular-webfont.woff2') format('woff2'),
       url('/static/portfolio/fonts/concertone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.row.column > strong{
  font-family: 'veteran_typewriterregular';
}
.menu {
  .menu-text {
    border-style: solid;
    border-color: #90a8ed;
    border-width: thin;
    color: #0b143c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .menu-logo{
    font-family: concert_oneregular
  }
  li {
    background: #dde5f5;
    font-family: 'veteran_typewriterregular';
    a:hover {
      background-color: white;
      color: #1779ba;
    }
  }
}
.programming-image{
  width: 200px;
  height: 200px;
}
.callout.primary p{
  font-family: 'news_cycleregular';
  font-size: 18px;
}
.callout.primary h1{
  font-family: 'concert_oneregular';
}
div#call-out0 {
  background: url('/static/portfolio/images/software-developer.jpg')
              center / cover;
}
div#call-out1 {
  background: url('/static/portfolio/images/timely-project-execution.jpg')
                    center / cover;
}
div#call-out2 {
  background: url('/static/portfolio/images/need-a-mentor.png')
                    center / cover;
}
.shade-layer{
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 600px) {
  div.top-bar-left .menu {
    display: none;
  }
  div.callout h1 {
    font-size: 27px;
  }
  div.callout .shade-layer {
    padding-left: 1em;
    padding-right: 1em;
  }
}