<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mazimiaa | Welcome</title>
    {% load sass_tags %}
    <link href="{% sass_src 'portfolio/css/custom.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    
    <!-- Start Top Bar -->
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      <div class="title-bar-title">Mazimia</div>
    </div>
    
    <div class="top-bar" id="responsive-menu" data-margin-top="0">
      <div class="top-bar-left">
        <ul class="menu">
            <li class=""><a href="/">Mazimia</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li class="is-active"><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
    
    <!-- End Top Bar -->
    {% block body %}
    {% endblock %}

    <hr>

    <div class="row column">
      <ul class="title-bar">
        <li class="title-bar-title">MAZImia &copy; 2018</li>
      </ul>
    </div>
    {% load static %}
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'foundation.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
